.main {
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    
    
}


    
    


.div1 {
    width: 40%;
    border: 1px solid fuchsia;
    
   
    
}

.div2 {
    width: 40%;
    border: 1px solid fuchsia;
    
}

.div3 {
    width: 40%;
    border: 1px solid fuchsia;
    
}

.div4 {
    width: 40%;
    border: 1px solid fuchsia;
    
}

.div5 {
    width: 80%;
    border: 1px solid fuchsia;
    order: -1;
    
}

.Buhito {
    width: 100px;
    
}

.Gatito {
    width: 100px;
}

.Gatitos {
    width: 100px;
}

.Perrito {
    width: 100px;
}

.Ranita {
    width: 100px;
}

