* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: arial, sans-serif;
    
}

.body {
    background-color: rgb(231, 209, 209);
    
}

.header {
    background-color: rgb(231, 209, 209);
    
}
.h1 {
    padding-bottom: 15px;
}

.navegador {
    background-color: green;
}
.main {
    background-color: yellow;
}

.h2 {
    padding-bottom: 20px;
}

.aside {
    background-color: rgb(231, 209, 209);
    padding-top: 20px;
    padding-bottom: 20px;
}

.div {
    background-color: grey;
}

.h3 {
    padding-bottom: 15px;  
}

@media screen and (min-width: 1000px) {
    .container {
        display: flex;
        
        
    }
    .navegador {
        display: flex;
        width: 200px;
        
    }
    
    
  }
