* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header {
    background-color: rgb(233, 219, 219);
    height: 40px;
    flex: 0 0 80px;
    
    
}

.main {
    background-color: gray;
    flex: 1 1 auto;
}

.footer {
    background-color: orange;
    height: 40px;
    flex: 0 0 50px;
    
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}