* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
   /* estilos header */
.header {
    background-color: rgb(221, 177, 94);
    
    
}

.centralcolumn {
    display: flex;
    
    justify-content: space-between;
    max-width: 600px;
    margin-inline: auto;
    align-items: center;
    flex: 0 0 80px;
}

.menu__list {
    list-style: none;
    display: flex;
    gap: 32px;
    
}

.menu__link {
    text-decoration: none;
    /* padding: 1em; */

}










.footer {
    padding: 2em;
    border-top: dotted 1px;
    height: 60px;
}

.page-container {
    display: flex;
    flex-direction: column;
    height: 108vh;
}

.main {
    height: 100%;
}