/* Hoja de estilos de reset mínima */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Fuente general */

:root {
  background-color: #333333;
  color: white;
  font: 16px 'Roboto', Verdana, sans-serif;
}

.header {
  background-color: darkcyan;
  color: white;

  padding: 20px;
}

/* Estilos del ejercicio */

.container {
  display: flex;
  flex-wrap: wrap;
}

.article {
  border: solid 2px #800080;

  width: 50%;
  padding: 20px;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

/*
  El último artículo se pone en la primera posición y
  ocupa todo el ancho disponible.
*/

.article.spotlight {
  order: -1;
  width: 100%;
}